:root {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.sunrise.300');
  --shiki-token-string: theme('colors.sunrise.300');
  --shiki-token-comment: theme('colors.stone.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.sunrise.300');
  --shiki-token-punctuation: theme('colors.stone.200');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
